# {{ ansible_managed }}
authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

authority buypass {
	api url "https://api.buypass.com/acme/directory"
	account key "/etc/acme/buypass-privkey.pem"
	contact "mailto:me@example.com"
}

authority buypass-test {
	api url "https://api.test4.buypass.no/acme/directory"
	account key "/etc/acme/buypass-test-privkey.pem"
	contact "mailto:me@example.com"
}

{% for domain in domains %}
domain {{ domain.name }} {
{% if loop.index == 1 %}
	domain name {{ mail_subdomain }}.{{ domain.name }}
	alternative names { \
{% for sdomain in subdomains %}
		"{{ sdomain }}.{{ domain.name }}" \
{% endfor %}
	}
{% else %}
	domain name {{ required_subdomains[0] }}.{{ domain.name }}
	alternative names { \
{% for sdomain in required_subdomains[1:] %}
		"{{ sdomain }}.{{ domain.name }}" \
{% endfor %}
	}
{% endif %}
	domain key "/etc/excision/ssl/private/{{ domain.name }}.key" {% if domain.ssl_type is defined and domain.ssl_type == 'ecc' %}ecdsa{% endif %}

	domain certificate "/etc/excision/ssl/{{ domain.name }}.crt"
	domain chain certificate "/etc/excision/ssl/{{ domain.name }}.chain.pem"
	domain full chain certificate "/etc/excision/ssl/{{ domain.name }}.fullchain.pem"
	sign with letsencrypt
}

{% endfor %}
